<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Vídeos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <img src="https://avatars.githubusercontent.com/u/8304755?v=4" alt="avatar">
  <h1>Eduardo Jose da Silva</h1>
  <p>Analista na Fatec Marília</p>
  <div class="email_info">
    <ion-icon name="mail-outline"></ion-icon>
    <a href="mailto:eduardo.silva25@fatec.sp.gov.br"> eduardo.silva25@fatec.sp.gov.br</a>
  </div>


</ion-content>
